# not removed since CMakeFile.txt wants all folders
#src/*
#!src/pOdometry/*

clean.sh
.svn/

# adding relevant mission files to git in deeper folders
missions/*
!missions/alder/
!missions/lab_07/
!missions/lab_08/
!missions/lab_09/
missions/alder/*
!missions/alder/alder_lab4.moos
!missions/alder/alder_lab4.bhv

src/*
!src/pOdometry/
!src/pPrimeFactor/
!src/pCommunicationAngle/
!src/pPointAssign/
!src/pGenPath/
!src/uFldHazardMgrX/


scripts/
bin/
lib/
